:root {
    --main-header-text-marg: 3px;
    --text-size: 30px;
    --text-cursor: 50px;
    --text-cursor-weight: 3px;
    --accent-colour: rgb(236, 93, 27);
    --background-colour: rgb(31, 31, 31);
    --text-colour: rgb(228, 225, 221);
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

#main-screen-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#main-header-container {
    background-color: var(--background-colour);
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    transition: 350ms ease;
}

#title-container {
    background-color: var(--background-colour);
    background-color: aqua;
    position: relative;
    display: flex;
    flex-flow: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
}
#text-change-container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: yellow;
    border-radius: 100000px;
    scale: 0;
    transition: 350ms ease;
}

#img-1 {
    position: absolute;
    top: 50vh;
    left: 50vw;
}

#text-change-container > h2 {
    font-size: 60px;
}

#title-to-change {
    color: var(--accent-colour);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.main-header {
    font-size: var(--text-size);
    color: var(--text-colour);
}

#type-cursor {
    display: inline;
    width: var(--text-cursor-weight);
    height: 10vh;
    margin: var(--text-cursor) 0 var(--text-cursor) 0 ;
    background-color: var(--accent-colour);
    animation-name: text-cursor-blink;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}

@keyframes text-cursor-blink {
    0% {opacity: 100%;}
    24% {opacity: 100%;}
    25% {opacity: 0%;}
    49% {opacity: 0%;}
    50% {opacity: 100%;}
    74% {opacity: 100%;}
    75% {opacity: 0%;}
    99% {opacity: 0%;}
    100% {opacity: 100%;}
}
.fancy-text {
    display: inline-block;
    transition: transform 350ms ease;
}

h2 {
    white-space: pre;
    display: inline-block;
    transition: transform 350ms ease;
    z-index: 1;
}